@tailwind base;
@tailwind components;
@tailwind utilities;

.nav__active{
  font-weight: 600 !important;
  color: red;
}

.sticky_header{
  width: 100%;
  height: 70px;
  /* line-height: 70px; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px #ddd;
  background: #fff;
}

.active-menu{
  display: block;
  /* transform: none; */
 }